/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-image: url('images/IMG-20240607-WA0014.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #343a40; /* Dark background color */
}

.navbar-brand {
  color: #fff; /* White text color */
  text-decoration: none; /* Remove default underline */
  font-size: 1.5em;
}

.navbar-collapse {
  flex-grow: 1;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  list-style-type: none; /* Remove bullet points */
  margin-left: 20px; /* Adjust spacing between items */
}

.nav-link {
  color: #fff; /* White text color */
  text-decoration: none; /* Remove default underline */
}

.nav-link:hover {
  color: #ffd700; /* Gold text color on hover */
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

.heading {
  font-family: Verdana, sans-serif;
  color: #ffd700;
  text-align: center;
}

.container-form {
  text-align: center;
}

.form-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 20px;
  text-align: left;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  color: #ffd700;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: #45a049;
}

/* Media queries for responsiveness */

/* Mobile phones (up to 480px) */
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .container {
    margin: 20px;
    padding: 15px;
  }
}

/* Tablets (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .container {
    margin: 30px;
    padding: 20px;
  }
}

/* Desktop browsers (769px and above) */
@media (min-width: 769px) {
  .navbar {
    flex-direction: row;
  }

  .navbar-nav {
    flex-direction: row;
    align-items: center;
  }

  .nav-item {
    margin-left: 20px;
    margin-bottom: 0;
  }

  .container {
    margin: 50px auto;
    padding: 20px;
  }
}

